@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* ------------ Navbar styling*/

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 0%;
    background: rgba(103, 8, 158, 0.7);
}

#logo { 
   font-family: 'Kablammo', cursive;
   font-size: 30px;
   font-weight: 700;
   padding-left: 2rem;
   color: white;
}

#logo:hover {
    color: #68dc64;
}

#navlist {
    display: flex;
    
}

#navlist a{
    color: rgb(255, 255, 255);
    margin-left: 2rem;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}
#navlist a:hover {
    color: rgb(40, 181, 38);
    border-bottom: 2px solid rgb(40, 181, 38);
}

#navlist .current {
    color: rgb(40, 181, 38);
    border-bottom: 2px solid rgb(40, 181, 38);
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 3;
    cursor: pointer;
    display: none;
}

/* ------------ footer styling*/

footer {
    background: rgb(103, 21, 151);;
    color: azure;
    text-align: center;
    font-size: larger;
    padding: 2rem;
    height: 5rem;
}

footer i {
    position: relative;
   color: #ffffff;
}

footer i:hover {
    color: #68dc64;
}

/* ------------ landing page styling*/

#hero-container {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #7b4d95 0%, #633870 28.53%, #391336 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

section {
    padding: 0%;
}

#hero-txt h1 {
    font-family: 'Kablammo', cursive;
    text-align: center;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

#hero-txt h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

#hero-txt u {
    text-decoration: underline;
}

#buttons {
    position: relative;
    margin:auto;
    width: fit-content;
    align-items: center;
}

#buttons a{
    display: inline-block;
    align-items: center;
    color: white;
    background-color: #398b36;
    border: 1px solid transparent;
    padding: 12px 30px;
    margin: 0.3rem;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.35s ease;
}

#hero-txt a:hover {
    background: transparent;
    border: 1px solid rgb(60, 250, 69);
    transform: translateX(8px);
}

#hero-img {
    width: fit-content;
    height: auto;
}

img {
    width: fit-content;
    height: fit-content;
}
/* ------ Landing content styling */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
  }

  .column {
    width: 100%;
    padding: 0.5em 0;
  }
  
  .title-txt {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #1f003b;
  }
  
  .card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
  }
  
  .card .img-container {
    width: 8em;
    height: 8em;
    background-color: #a993ff;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
  }
  
  .card img {
    width: 100%;
    border-radius: 50%;
  }

  .card h3 {
    font-weight: 500;
  }
  
  .card p {
    font-weight: 300;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
  }
  
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  
  .card:hover {
    background: linear-gradient(#6045ea, #8567f7);
    color: #ffffff;
  }
  
  .card:hover .img-container {
    transform: scale(1.15);
  }